/**{outline: 1px solid red;}*/
body {font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 

}
header,section{
    width: 1000px;
    margin: 0 auto;
}
header{
    display: flex;
    background-color: skyblue ;
    padding-left: 16px;
}
section{
    display: flex;
}
article{
    width: 60%;
}
ul{
    list-style-type:'';
}
img{
    scroll-margin-right: 16px ;
    
}
a,a:link,a:visited{
    text-decoration: none;
    color: paleturquoise;
}
#PROGRESOS{
   
}
#CONOCIMIENTOS{
   width: 500px;
    justify-content: left: 20px; ;
}
.flex{

    display: flex;

}
progress{
  
}
table{
    width: 250;
    margin: 0 auto;
}
#iconos{
    position: absolute; bottom: 200px;
}
